.navbar-container {
  background-color: black;
  padding: 20px
}

.navbar-container a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 0px 10px;
  letter-spacing: 6px;
}
