#home {
  background-color: black;
  color: white;
  height: 100vh;
  text-align: center;
  p {
    margin-top: 1.5em;
  }
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
}

.socials {
  color: white;
  font-size: 40px;
  padding: 10px;
  i {
    padding: 0px 15px;
  }
}
