---
title: Le Wagon - Middleman
---

<div id="home">
  <div class="home-content">
    <%= image_tag "logo_KR.png", width: "600" %>
    <div class="socials text-center">
      <i class="fa fa-spotify"></i>
      <i class="fa fa-facebook"></i>
    </div>
  </div>
</div>

